.idea/
.vscode/

# saved models
*.zip

# Created by https://www.gitignore.io/api/macos,linux,django,python,pycharm

### personal YAML configs ###
configs/*benno*
configs/*kai*
configs/*karim*
configs/*test*

# exclude the generated urdfs from maze and shelf class
modular_drl_env/world/obstacles/shelf/*shelf*.urdf
modular_drl_env/world/obstacles/maze/*maze*.urdf







