# Manipulate Objects Environment - Objects on Table
# Robot must reach goals on a table surface with objects

run:
  algorithm:
    load_model: False
    model_path: ""  
    type: "PPO"
    config: {}
  train:
    num_envs: 4
    logging: 0
    timesteps: 500000
    save_freq: 10000
    save_folder: "./models/weights"  
    save_name: "manipulate_objects"
  eval:
    max_episodes: -1
    logging: 1
    display_delay: 0.01
    show_world_aux: True
    show_goal_aux: True
    show_sensor_aux: False

env:
  max_steps_per_episode: 512
  stat_buffer_size: 25  
  normalize_observations: False
  normalize_rewards: False
  use_physics_sim: True
  gravity: [0, 0, -9.8]
  sim_step: 0.01
  sim_steps_per_env_step: 1
  
  robots:
    - type: "UR5_Gripper"
      config:
        name: "ur5_robot"
        base_position: [0, 0, 0.630]  # Robot on ground
        base_orientation: [0, 0, 0]
        resting_angles: [0, -90, -90, -90, 90, 0]
        control_mode: 0  # IK control
        ik_xyz_delta: 0.05
        ik_rpy_delta: 0.05
        self_collision: False
        
      # sensors:
      #   - type: "LidarSensorUR5"
      #     config:
      #       update_steps: 1
      #       add_to_observation_space: True
      #       add_to_logging: True
      #       indicator_buckets: 6
      #       ray_start: 0
      #       ray_end: 0.4
      #       ray_setup:
      #         ee_forward: [1, 1]
      #         wrist3_circle: [8, 5]
      #         wrist2_circle: [8, 5]
      #         wrist1_circle: [8, 5]
      #         upper_arm: [8, 5]
      #       indicator: True
            
        # - type: "OnBodyUR5"
        #   config:
        #     position_relative_to_effector: [0.1, 0, 0.05]  # Offset from end-effector
        #     add_to_observation_space: True
        #     add_to_logging: True
        #     update_steps: 1
        #     name: "wrist_camera"
        #     camera_args:
        #       width: 128
        #       height: 128
        #       fov: 60
      goal:
        type: "PositionCollision"
        config:
          add_to_logging: True
          continue_after_success: True  # Don't end episode on collision, just give penalty
          reward_success: 10
          reward_collision: -1  # Reduced penalty to allow learning
          reward_distance_mult: -0.01
          dist_threshold_start: 0.15
          dist_threshold_end: 0.05
          dist_threshold_increment_start: 0.01
          dist_threshold_increment_end: 0.001
          dist_threshold_overwrite: "None"

  world:
    type: "ManipulateObjects"
    config:
      workspace_boundaries: [-0.8, 0.8, -0.6, 1.6, 0.2, 1.6]  # [x_min, x_max, y_min, y_max, z_min, z_max] - Extended Y to include robot
      num_boxes: 2       # Objects floating in workspace
      num_spheres: 2
      add_table: True    # No table - objects will float in 3D space
      table_dim: [0.625,0.5,1.0]  # height/width/lenght
